# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="{DB_TYPE}://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}?schema=public"
APP_PORT={APP_PORT}
SECRET_KEY="{SECRET_KEY}"

# DB_TYPE could be 'mysql' or 'postgresql'
# DB_USER usually 'root'
# DB_PASSWORD is based on the docker-compose.yml file or your database password
# DB_HOST usually 'localhost' or '127.0.0.1'
# DB_PORT is 3306 or 3326 or your specified port
# DB_NAME should be manually configured. You need to create a database first
# APP_PORT is specified as long as you like, you can put 3001 or 5000, as long as it's not a common used port like 3000 or 5173
# SECRET_KEY is your secret key, any random string or numbers